:root {
  --background-color1: rgb(13, 20, 56);
  --background-color2: rgb(2, 0, 30);
  --circle-color1: rgb(255, 49, 49);
  --circle-color2: rgb(231, 0, 112);
  --circle-color3: rgb(27, 84, 255);
  --circle-color4: rgb(124, 42, 255);
  --glass-color: rgba(255, 255, 255, 0.25);
  --glass-border-color: rgb(255, 255, 255, 0.18);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  background: var(--background-color1);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  opacity: 1;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.signin-form, .signup-form {
  background-color: var(--glass-color);
  width: 400px;
  height: 500px;
  border-radius: 25px;
  border: 1px solid var(--glass-border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  height: 10%;
  width: 90%;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

.form-heading {
  font-weight: bold;
  font-size: 30px;
}

.form-heading:focus {
  outline: none;
}

button {
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--glass-border-color);
  cursor: pointer;
  font-size: 16px;
}

.circle1,
.circle2 {
  z-index: -5;
  position: absolute;
  opacity: 1;
}

.circle1 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--circle-color1),
    var(--circle-color2)
  );
  transform: rotate(18deg);
  transform: rotate(18deg);
  /* filter: blur(2px); */
  left: -120px;
  top: -100px;
}

.circle2 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--circle-color3),
    var(--circle-color4)
  );
  transform: rotate(18deg);
  /* filter: blur(2px); */
  right: -50px;
  bottom: -80px;
}
