:root {
  --background-color1: rgb(13, 20, 56);
  --background-color2: rgb(2, 0, 30);
  --circle-color1: rgb(255, 49, 49);
  --circle-color2: rgb(231, 0, 112);
  --circle-color3: rgb(27, 84, 255);
  --circle-color4: rgb(124, 42, 255);
  --glass-color: rgba(255, 255, 255, 0.25);
  --glass-border-color: rgb(255, 255, 255, 0.18);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(90deg, var(--background-color1), var(--background-color2), var(--background-color1)); */
  background: var(--background-color1);
  /* overflow: hidden; */
  opacity: 0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

div::-webkit-scrollbar {
  display: none;
}

nav {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
} 

.welcome-user {
  width: 300px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.nav-controls {
  display: flex;
}

.nav-options {
  background-color: var(--glass-color);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--glass-border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  cursor: pointer;
  margin-left: 15px;
}

.card-container {
  height: 85vh;
  width: 100%;
  padding: 0px 80px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  word-break: break-word;
  padding-top: 20px;
  overflow: hidden;
}

.card {
  background-color: var(--glass-color);
  width: 200px;
  height: 250px;
  border-radius: 15px;
  border: 1px solid var(--glass-border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 15px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-options {
  display: flex;
}

.card-heading {
  font-weight: bold;
  font-size: 20px;
}

.edit-note,
.delete-note {
  height: 30px;
}

.edit-note > img,
.delete-note > img {
  height: 100%;
  width: 100%;
}

.card-content {
  font-size: 14px;
  width: 100%;
  height: 170px;
  margin-top: 15px;
  overflow: scroll;
  padding-right: 10px;
}

.circle1,
.circle2 {
  z-index: -5;
  position: absolute;
  opacity: 1;
}

.circle1 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--circle-color1),
    var(--circle-color2)
  );
  transform: rotate(18deg);
  transform: rotate(18deg);
  /* filter: blur(2px); */
  left: -120px;
  top: -100px;
}

.circle2 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--circle-color3),
    var(--circle-color4)
  );
  transform: rotate(18deg);
  /* filter: blur(2px); */
  right: -50px;
  bottom: -80px;
}

@media only screen and (max-width: 750px) {

  body {
    
  }

  .card-container {
    width: 100vw;
    margin-top: 50px;
    /* overflow-y: scroll; */
    padding: 0px 20px;

  }

  .card {
    width: 100%;
    min-height: 400px;
  }

  .circle1,
  .circle2 {
    z-index: -5;
    position: absolute;
    opacity: 1;
    display: none;
  }
 
  
.welcome-user {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  transform: translateY(20px);
}

.user {
  font-size: 65px;
  transform: translateY(-20px);
}

nav {
  height: 15vh;
  padding: 0px 20px;
} 

.nav-controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translateY(15px);
  padding: 0px;
}

.nav-options {
  margin: 0px;
}

.card-heading {
  font-size: 30px;
}

.card-content {
  font-size: 20px;
}

}